<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>TEA : LOGIN</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
	<link rel="stylesheet" href="" th:href="@{/css/Login.css}" />
</head>

<body>
	

		<div class="user">
			<div class="content">
				<h2> For <span style="color:green;">Users</span></h2>
				<form action="" th:action="@{/login}" method="post" class="form">
					<b>Email :</b>
					<input type="email" name="username" placeholder="Enter email">
					<!--		th:classappend="${#fields.hasErrors('userEmail')?'emailError':''}">-->

					<!--<div style="color: red;font-size: 16px;" class="emailError" th:each="e :${#fields.errors('userEmail')}" th:text="${e}">
					</div>--> <br />


					<b> Password:</b>
					<input type="password" name="password" placeholder="Enter password" required maxlength="8"
						minlength="4" class="userPassword">
					<!--th:classappend="${#fields.hasErrors('userPassword')?'passwordError':'userPassword'}">-->
					<!--<div style="color: red;font-size: 16px;" class="passwordError" th:each="e :${#fields.errors('userPassword')}" th:text="${e}">
					</div>-->
		
					<button type="submit" class="loginButton">Log in</button><br>
				</form> 
					<p>I don't have account ? <a th:href="@{/reg}" style="color: green;">Register Here</a></p>
			
			</div>
		</div>
	</div>
</body>

</html>