<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" href="" th:href="@{/css/Add_User.css}" />
</head>

<body>
	<a href="@{/login}">Back to login</a>
	<div class="addUser">
		<h3 style="color: red;"> USER Registeration</h3>
		<form action="" th:action="@{/register}" method="post">
			<label for="name">User_Name :</label>
			<input type="text" name="uname" required/>
			<label for="email" />User_Email :
			<input type="email" name="uemail" placeholder="Enter correct email"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,}" required/>
			<label for="telephone">User_Number :</label>
			<input type="tel" name="unumber" required pattern="[0-9]{10}" placeholder="Enter correct number"/>
			<label for="password">User Password</label>
            <input type="password" name="upassword" required/>
            <button type="submit">Add_User</button>
        </form>

	</div>
</body>

</html>